# Sistema
[Dd]ebug/
[Tt]emp/
[Ll]ogs/
[Ss]ysinfo/

# Unity Asset Database
[Ll]ost[Dd]ir/
[Mm]emoryCaptures/
[Tt]humbnails/

# Visual Studio
.vscode/
.vs/
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.svd
*.pdb

# Builds
*.apk
*.aab
*.ipa
*.app
*.exe
*.dll
*.ilk
*.log

# TextMeshPro
[Tt]extMesh Pro/

# Outros arquivos temporários e caches
[Dd]umped_logs/
**/*.tmp
*.bak
*.swp
*.tmp
*.unitypackage


# Para excluir o conteúdo de pacotes específicos do Unity

# VS Code
.history/
.vscode/

# Rider
.idea/
*.csproj.user
.idea/
